/*==============
Navbar
==============
 */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  transform: translateX(-100%);
  background: var(--clr-White);
}
.showNav {
  transform: translate(0);
}
.navbar-header {
  padding: 0.5rem 1rem 1rem 1rem;
}
.nav-close {
  font-size: 2rem;
  cursor: pointer;
  transition: var(--transition);
}
.nav-items {
  list-style-type: none;
  padding-left: 1rem;
}
@media screen and (min-width: 400px) {
  .navbar {
    width: 48vw;
    max-width: 240px;
  }
}

/* 
==============
Fonts
==============
 */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&family=Open+Sans:wght@400;700&family=Roboto:wght@100&display=swap");
:root {
  --clr-offWhite: #f8f8f8;
  --clr-offlack: #424242;
  --clr-grey-1: #102a42;
  --clr-grey-2: #727272;
  --clr-White: #fff;
  --clr-Black: black;
  --clr-Red: #cc0000;
  --clr-White-2: #ccd2ea;
  --ff-primary: "Roboto";
  --ff-secondary: "Barlow Condensed";
  --ff-tertiary: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --fontSize: 1rem;
}
/* 
==============
Global Styles
==============
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-offWhite);
  line-height: 1.5;
  font-size: 0.75rem;
}
a {
  text-decoration: none;
}
.icon-links {
  color: black;
}

@media screen and (max-width: 1px) {
  .view-1 {
    display: none;
  }
  .thumbs-up {
    margin-left: 0.8rem;
  }
  .save-ellip-hide {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .text-place {
    display: none;
  }
}
@media screen and (max-width: 530px) {
  #mic-hide {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  input[type="text"] {
    border: 1px solid rgb(214, 210, 210);
    padding-left: 0.6rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 0.15rem;
    border-bottom-left-radius: 0.15rem;
    position: absolute;
    top: 1.5;
    left: 2rem;
    width: 47%;
    height: 40px;
  }
  .search-box {
    background: var(--clr-offWhite);
    display: block;
  }
  .fa-search {
    margin-left: 20px;
    position: absolute;
    top: 1rem;
    right: 7.3rem;
    border: 1px solid rgb(207, 203, 203);
    height: 40px;
    background: var(--clr-offWhite);
    width: 66px;
    padding-top: 0.6rem;
    color: var(--clr-grey-2);
  }
  .nav-video-bell {
    position: fixed;
    top: 0;
    right: -1.5rem;
    padding: 1rem 0;
    float: right;
  }

  .fa-video {
    margin-right: 0.6rem;
  }
  .fa-th {
    margin-right: 0.6rem;
  }
  .fa-bell {
    margin-right: 0.6rem;
  }
  .nav-letter-right {
    padding: 0.3rem 0.58rem 0.3rem 0.58rem;
    border-radius: 50%;
    font-size: 1.2rem;
    background: #5c6bc0;
    text-transform: uppercase;
    color: var(--clr-White-2);
    font-weight: bold;
    font-family: var(--ff-tertiary);
  }
}
@media screen and (min-width: 700px) {
  input[type="text"] {
    border: 1px solid rgb(214, 210, 210);
    padding-left: 0.6rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 0.15rem;
    border-bottom-left-radius: 0.15rem;
    position: absolute;
    top: 1.5;
    left: 2rem;
    width: 55%;
    height: 40px;
  }
}
@media screen and (min-width: 1012px) {
  input[type="text"] {
    border: 1px solid rgb(214, 210, 210);
    padding-left: 0.6rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 0.15rem;
    border-bottom-left-radius: 0.15rem;
    position: absolute;
    top: 1.5;
    left: 2rem;
    width: 68%;
    height: 40px;
  }
  .nav-video-bell {
    position: fixed;
    top: 0;
    right: 0;
    float: right;
    width: 30%;
  }
  .float-right {
    float: right;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 1324px) {
  input[type="text"] {
    border: 1px solid rgb(214, 210, 210);
    padding-left: 0.6rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 0.15rem;
    border-bottom-left-radius: 0.15rem;
    position: absolute;
    top: 1.5;
    left: 2rem;
    width: 83%;
    height: 40px;
  }
  .fa-search {
    margin-left: 20px;
    position: absolute;
    top: 1rem;
    right: 3rem;
  }
  .nav-video-bell {
    position: fixed;
    top: 0;
    right: 0;
    float: right;
    width: 26%;
  }
}
/* 
==============
Styles
==============
 */
.nav-container {
  position: fixed;
  top: 0;
  /* overflow: hidden; */
  z-index: 2;
  background: var(--clr-White);
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 40px;
  /* background: green; */
}
.nav-bar-youtube {
  position: fixed;
  left: 1rem;
  top: 0;
  padding: 1rem 0;
}
.fa-bars {
  font-size: 1.5rem;
}
#nav-youtube {
  margin-left: 1.2rem;
}
.fa-youtube {
  color: #ff0000;
  margin-right: -0.2rem;
  font-size: 1.7rem;
}
.youtube-text {
  font-family: var(--ff-secondary);
  display: inline-block;
  font-size: 1.5rem;
  letter-spacing: -0.05rem;
}
.sup-youtube {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--clr-grey-2);
  text-transform: uppercase;
  font-size: 0.6rem;
}
.search-mic {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 1rem 0;
  width: 50%;
  height: 4rem;
}
.nav-video-bell {
  position: fixed;
  top: 0;
  right: 1rem;
  padding: 1rem 0;
  float: right;
}
.fa-microphone {
  padding: 0.6rem 0.7rem 0.6rem 0.7rem;
  border-radius: 50%;
  background: var(--clr-offWhite);
  /* float: left; */
  margin-right: 1.5rem;
}
.float-right {
  float: right;
  margin-right: 1rem;
}

.fa-video {
  margin-right: 1rem;
}
.fa-th {
  margin-right: 1rem;
}
.fa-bell {
  margin-inline-end: 1rem;
}
.nav-letter-right {
  padding: 0.3rem 0.58rem 0.3rem 0.58rem;
  border-radius: 50%;
  font-size: 1.2rem;
  background: #5c6bc0;
  text-align: center;
  text-transform: uppercase;
  color: hsl(0, 30%, 95%);
  font-family: "Arial Narrow", Arial, sans-serif;
}
/* iframe */
.if-padding {
  margin-top: 80px;
}
.iframe-container {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
/* iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 6px) {
  .header-text {
    position: relative;
    width: 90%;
    font-family: var(--ff-tertiary);
    margin: 1rem auto;
    text-transform: capitalize;
    margin-bottom: 0;
  }
  .header-text > h2 {
    margin-bottom: -0.5rem;
    font-family: var(--ff-primary);
  }
  .clickers {
    position: relative;
    height: 55px;
    text-transform: uppercase;
    width: 100%;
  }
  .views {
    position: absolute;
    top: 1rem;
    left: 0;
    text-transform: none;
    font-size: var(--fontSize);
    color: var(--clr-grey-2);
  }
  .right-swing {
    float: right;
    margin-top: 0.5rem;
  }
  .like-pair {
    float: left;
    padding-top: 0.5rem;
    font-size: var(--fontSize);
    margin-left: 0.3rem;
  }
  .thumbs-up {
    margin-right: 0.4rem;
  }
  .dislike-pair {
    float: left;
    padding-top: 0.5rem;
    font-size: var(--fontSize);
    margin: 0 0.4rem;
  }
  .dislike-btn {
    margin-left: 0.3rem;
  }
  .share-pair {
    float: left;
    padding-top: 0.5rem;
    font-size: var(--fontSize);
    margin: 0 0.1rem;
  }
  .fa-share {
    margin-right: 0.5rem;
  }
  .playlist-save-pair {
    float: right;
    padding-top: 0.5rem;
    font-size: var(--fontSize);
  }
  .fa-ellipsis-h {
    margin-left: 0.1rem;
  }
  .save-text {
    display: inline-block;
  }
  .material-icons {
    padding-top: 0.5rem;
    margin-left: 0.5rem;
  }
  .content-divider {
    height: 1px;
    background: #d1cbcb;
    margin: 0.2rem auto;
    width: 90%;
  }
  .first-break {
    display: none;
  }
}
@media screen and (min-width: 607px) {
  .view-2 {
    display: inline-block;
    width: 100px;
  }
  .second-break {
    display: none;
  }
}
@media screen and (min-width: 650px) {
  .view-3 {
    display: inline-block;
    width: 150px;
  }
  .third-break {
    display: none;
  }
}
@media screen and (min-width: 920px) {
  .view-4 {
    display: inline-block;
    width: 250px;
  }
  .last-break {
    display: none;
  }
}
/* .subscription-container {
  position: relative;
} */
.subscriber-sctn {
  width: 90%;
  height: 340px;
  position: relative;
  margin: 1rem auto;

  /* background: black; */
}
.subscriber-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.4rem 1.05rem 0.4rem 1.05rem;
  border-radius: 50%;
  background: #689f39;
  font-size: 1.5rem;
  font-family: sans-serif;
  color: var(--clr-White);
}
.subscribe-txt-box {
  position: absolute;
  top: 0.5rem;
  right: 0;
  background: var(--clr-Red);
  width: 117px;
  height: 36px;
  /* background: purple; */
}
.sub-text {
  /* background: var(--clr-Red); */
  color: var(--clr-White);
  font-family: sans-serif;
  font-weight: 300;
  /* padding-top: 3rem; */
  text-transform: uppercase;
  /* background: yellow; */
  display: block;
  margin: 0.5rem 0.8rem 0.5rem 1.1rem;
  /* background: grey; */
}
#odin-project {
  position: absolute;
  top: 0.4rem;
  left: 4rem;
  display: block;
  width: 140px;
  /* background: yellow; */
}
.project-subscribers {
  color: var(--clr-offlack);
  font-weight: bold;
}
.project-txt {
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 700;
  display: block;
  font-size: 0.85rem;
}
.project-text {
  padding-top: 4rem;
  position: absolute;
  top: 0;
  left: 4rem;
  font-family: var(--ff-primary);
  max-width: 80%;

  /* width: 100%; */
  /* margin-top: 6rem; */
  /* background: red; */
  /* margin-top: 40px; */
  /* width: 60%; */
  /* margin: 0 auto; */
  /* margin: 1rem 1rem 1rem 1rem;
  padding-top: 4rem; */
  /* position: ; */
}
#show-more {
  text-transform: uppercase;
  font-family: var(--ff-primary);
  color: #000000;
  font-weight: 700;
  margin: 0.5rem 0;
}
.right-section {
  margin: 30px 25px;
}
.all {
  background: black;
  color: var(--clr-White);
  text-transform: capitalize;
  border-radius: 35px;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  font-family: var(--ff-tertiary);
}
.recent {
  border: 1px solid rgb(207, 203, 203);
  background: #ececec;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  font-family: var(--ff-tertiary);
  border-radius: 35px;
  /* color: var(--clr-grey-2); */
  margin-left: 0.4rem;
}
.watched {
  border: 1px solid rgb(207, 203, 203);
  background: #ececec;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  font-family: var(--ff-tertiary);
  border-radius: 35px;
  /* color: var(--clr-grey-2); */
  margin-left: 0.4rem;
  text-transform: capitalize;
}
.right-section-header {
  margin-bottom: 1.5rem;
}
.videos {
  position: relative;
  width: 100%;
  height: 100px;
  margin-bottom: 0.4rem;
  font-family: var(--ff-primary);
  /* background: red; */
}
.video-container {
  color: var(--clr-Black);
}
.vid-container {
  width: 168px;
  height: 95px;
  /* background: orange; */
  position: relative;
}
.vidTitle-like {
  position: absolute;
  top: 0;
  left: 10.6rem;
  width: 58%;
  height: 100%;
  margin-left: 0.5rem;
  line-height: 1.3rem;
  /* background: purple; */
}
.T-view {
  margin-top: -0.4rem;
}
.thumbNail-more {
  position: absolute;
  top: -0.4rem;
  right: 0;
}
.vid-title {
  /* background: green; */
  margin-right: 1rem;
}
.small-verify {
  font-size: 0.8rem;
  color: var(--clr-grey-2);
}
.vid-title {
  text-transform: capitalize;
}
.verify-views {
  color: #585555;
}
.new {
  background: #eceaea;
  width: 2rem;
  padding: 0 0.06rem 0 0.3rem;
  border-radius: 0.2rem;
  text-transform: capitalize;
  font-weight: bold;
}
.watch-queue-time {
  display: inline-block;
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}
.watch {
  /* visibility: hidden; */
  /* margin-top: 1rem; */
  background: var(--clr-Black);
  color: var(--clr-White);
  width: 30px;
  height: 30px;
  padding: 0.2rem 0 0.5rem 0.2rem;
}
.queue {
  /* visibility: hidden; */
  background: var(--clr-Black);
  color: var(--clr-White);
  width: 30px;
  height: 30px;
  padding: 0.2rem 0 0.5rem 0.2rem;
  margin-bottom: 0.5rem;
}
.thumbNail-more {
  /* visibility: hidden; */
  /* display: none; */
}
#videos .switch {
  visibility: hidden;
}
#videos:hover .switch {
  visibility: visible;
}

/* #watch-queue {
  background: red;
} */
.time {
  background: var(--clr-Black);
  color: var(--clr-White);
  /* width: 2rem; */
  padding: 0 0.05rem 0 0.5rem;
  border-radius: 0.2rem;
}
.comment-sort {
  /* background: red; */
  font-size: 0.9rem;
  margin-top: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  margin-bottom: 3rem;
}
.sorted {
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 1.2rem;
}
.text-size {
  margin-left: 0.6rem;
}
.comment-container {
  position: relative;
  width: 90%;
  /* height: 50px; */
  margin: 0 auto;
  /* background: red; */
  margin-top: -2rem;
}
.flow-divider {
  position: absolute;
  top: 0;
  left: 3.5rem;
  font-size: 1rem;
  /* background: red; */
}
.text-comment {
  padding: 0.4rem 0.75rem 0.4rem 0.75rem;
  border-radius: 50%;
  font-size: 1.5rem;
  background: #5c6bc0;
  text-transform: uppercase;
  color: var(--clr-White-2);
  font-weight: bold;
  font-family: var(--ff-tertiary);
}
.divider-comment {
  margin-left: 5rem;
  width: 80%;
}
.thumb-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 0;
}
.comments {
  position: relative;
  width: 90%;
  margin: 2.2rem auto;
}
.commenters {
  position: absolute;
  top: 0;
  left: 3.5rem;
}
